<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
      <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">>
    <ul class="nav navbar-nav me-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link active" href="#" aria-current="page" (click)="onSelect('recipe')">Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"  href="#" (click)="onSelect('shopping-list')">Shopping List</a>
      </li>
    </ul>

    
      <div class="dropdown-toggle">
        <button  class=" btn btn-success dropdown-toggle" appDropdown> Manage</button>
        <ul class="dropdown-menu dropdown-toggle">
          <li ><div role="button"style="cursor: pointer;">Save Data</div></li>
          <li ><div role="button"style="cursor: pointer;">Get Data</div></li>
        </ul>
      </div>
  </div>
</div>
</nav>